<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>This is Home page</h1>
    <div>
        <p>this is std data</p>
        <a href="{% url 'create_form'  %}">create a student</a>
        <ul>
            {% for s in data %}
                <li>
                    <a href="{% url 'studentdetails' s.id  %} ">{{s.name}} {{s.city}}</a>
                </li>
            {% endfor   %}
        </ul>
    </div>
</body>
</html>